= form_for :jam, url: { action: 'create' } do |f|
  %p
    = f.label :title
    = f.text_field :title, class: 'autocomplete-song-titles'

  %p
    = f.label :artist
    = f.text_field :artist, class: 'autocomplete-song-artists'

  %p
    = f.submit
