!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Empty Orchestra
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render 'layouts/ga' if Rails.env.production?
  %body
    .account-management
      - if user_signed_in?
        %ul
          %li
            = link_to 'Manage account', edit_user_registration_path
          &middot;
          %li
            = link_to 'Sign out', destroy_user_session_path, :method => :delete
      - else
        %ul
          %li
            = link_to 'Create account', new_user_registration_path
          &middot;
          %li
            = link_to 'Sign in', new_user_session_path
    %h1 Empty Orchestra
    .subtitle everything but the karaoke
    - if notice or alert
      .container
        - if notice
          .flash-container.ui-state-highlight
            %span.ui-icon.ui-icon-info
            %p.notice
              = notice
        - if alert
          .flash-container.ui-state-error
            %span.ui-icon.ui-icon-alert
            %p.alert
              = alert
    .container
      = yield
    = render "layouts/uservoice"
